<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title><%= projectName %></title>

    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="full-screen" content="yes"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="360-fullscreen" content="true"/>
    
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    
    <link rel="stylesheet" type="text/css" href="<%= cssUrl %>"/>
    <link rel="icon" href="favicon.ico"/>
    <script src="js/fetch.js"></script>
    <script src="js/promise.min.js"></script>
    <script src="js/external/adapter-latest.js"></script>

    <link href="css/player.css" rel="stylesheet">

      <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/67721403af5bfec1dbe4708f/1igapsbqb';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script-->

  </head>
  <body>
    <h1 class="header"><%= projectName %></h1>
    <input id="file" type="file" accept="image/*" class="fileToUpload" style="opacity:0;position:absolute;" onchange="webBase64String(this)"/>
    <div style="position: absolute; top: 0;bottom: 0;left: 0;right: 0;background-color: white;"></div>
    <div id="videoPosition_1" hidden = "true"></div>
    <div id="GameDiv" cc_exact_fit_screen="false" style="width: <%= previewWidth %>px; height: <%= previewHeight %>px;">
      <div id="Cocos3dGameContainer">
        <canvas id="GameCanvas" width="<%= previewWidth %>" height="<%= previewHeight %>" tabindex="99"></canvas>
      </div>
      <div id="splash" style="width: <%= previewWidth %>px; height: <%= previewHeight %>px; display: flex; justify-content: center; align-items: center;">
            
      </div>
    </div>
    <div id="videoPosition_2" hidden = "true">
      <div id="videoParent" hidden = "true"></div>
    </div>
    <!-- <p class="footer">
      Created with <a href="https://www.cocos.com/products" title="Cocos Creator">Cocos Creator</a>
    </p> -->

    <img id="play_button" src="" onclick="playWebRTCVideo()"
        style="position: absolute; top: 30px; left: 30px; display: none;" />


    <!-- Mute/Unmute Video Button -->
    <button onclick="changeVideoMuteStatus()" id="unmuteButton" title="Mute/Unmute Video">
        Unmute
    </button>
    <input id="file" type="file" accept="image/*" class="fileToUpload" style="opacity:0;position:absolute;" onchange="webBase64String(this)"/>

    <%- include(cocosTemplate, {}) %>
  </body>
  <script type="text/javascript">
    (function () {
        var splash = document.getElementById('splash');
        splash.style.display = 'block';
    
    
    })();
  </script>

</html>
